{% extends 'blog/base.html' %}
{% load static %}
{#{% load comments %}#}
{% block title %}博客详情{% endblock %}
{% block css %}
    <script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'prism.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/github-markdown.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/detail.css' %}">
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-md-9">
                <h1>{{ entry.title }}</h1>
                <p class="entry-info">
                    <strong>{{ entry.author }}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                    {{ entry.created_time|date:'Y-m-d' }}&nbsp;&nbsp;&nbsp;&nbsp;
                    Column：<!-- 栏目 -->
                    {% if entry.column %}
                        <a href="{% url 'blog:blog_column' entry.column.id %}"><button type="button" class="btn btn-sm mb-2 column-button">
                            {{ entry.column }}
                        </button></a>
                    {% endif %}&nbsp;&nbsp;
                    Tag：{% for tag in entry.tags.all %}
                    <a href="{% url 'blog:blog_tag'%}?tag={{ tag }}" class="tags">{{ tag.name }}</a>
                    {% endfor %}&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fas fa-eye"></i>{{ entry.visited }}&nbsp;&nbsp;&nbsp;&nbsp;
                    {% if request.session.login %}
                    <button class="dropdown-item" onclick="confirm_safe_delete()">删除文章</button>
                    <a href="{% url "blog:article_update" entry.id %}">编辑文章</a>
                    {% endif %}
                </p>
                <p class="entry-body">
                    {{ entry.body|safe }}
                </p>
            <div style="text-align:center;" class="mt-4 liked">
                <button class="btn btn-outline-danger"
                        type="button"
                        onclick="validate_is_like(
                                 '{% url 'blog:increase_likes' entry.id %}',
                                 {{ entry.id }},
                                 {{ entry.likes }}
                                 )"
                        >
                    <span></span>
                    <span>
                        <i class="fas fa-heart"></i>
                    </span>
                </button>
                <p id="likes_number">
                        {{ entry.likes }}
                    </p>
            </div>
                {% if user.is_authenticated %}
                <div>
                    <form
                        action="{% url 'comment:post_comment' entry.id %}"
                        method="POST"
                    >
                    {% csrf_token %}
                        <div class="form-group comment-form">
                            <label for="body">
                                <strong>
                                    Comment：
                                </strong>
                            </label>
                            <div>
                                {{ comment_form.media }}
                                {{ comment_form.body }}
                            </div>
                        </div>
                        <!-- 提交按钮 -->
                        <button type="submit" class="btn btn-primary comment-submit pull-right">Submit</button>
                    </form>
                </div>
                <br>
                {% else %}
                    <br>
                    <h5 class="row justify-content-center">
                        请<a href="{% url 'userprofile:login' %}">登录</a>后回复
                    </h5>
                    <br>
                {% endif %}

                {% load mptt_tags %}
                <h4 class="comment-count">共有{{ comments.count }}条评论</h4>
                <div class="row">
                    <!-- 遍历树形结构 -->
                    {% recursetree comments %}
                        <!-- 给 node 取个别名 comment -->
                        {% with comment=node %}
                            <div class="{% if comment.reply_to %}
                                        col-md-11 col-md-offset-1
                                        {% else %}
                                        col-md-12
                                        {% endif %} clear"
                            >
                                <hr>

                            <div class="user-avatar l">
                                 {% if comment.user.profile.avatar %}
                                <img src="{{ comment.user.profile.avatar.url }}" alt="avatar">
                                     {% else %}
                                 <img src="{% static 'blog/images/default_avatar.jpg' %}" alt="avatar">
                                {% endif %}
                            </div>

                            <div class="comment-body l">
                                <p>
                                    <strong style="color: #333333">
                                        {{ comment.user }}
                                    </strong>

                                    {% if comment.reply_to %}
                                        <i class="fas fa-share"
                                           style="color: #337ab7; margin: 0 7px;"
                                        ></i>
                                        <strong style="color: #333333">
                                            {{ comment.reply_to }}
                                        </strong>
                                    {% endif %}
                                <!-- 改动 显示评论 部分 -->
                                </p>
                                <div>{{ comment.body|safe }}</div>

                                <div>
                                    <span style="color: gray">
                                        {{ comment.created_time|date:"Y-m-d H:i" }}
                                    </span>

                                    <!-- 加载 modal 的按钮 -->
                                    {% if user.is_authenticated %}
                                    <button type="button"
                                            class="btn btn-light btn-sm text-muted reply-btn"
                                            onclick="load_modal({{ entry.id }}, {{ comment.id }})"
                                            >
                                        reply
                                    </button>
                                    {% else %}
                                    <a class="btn btn-light btn-sm text-muted"
                                       href="{% url 'userprofile:login' %}"
                                       >
                                        回复
                                    </a>
                                    {% endif %}
                                </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade"
                                     id="comment_{{ comment.id }}"
                                     tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="CommentModalCenter"
                                     aria-hidden="true"
                                >
                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content" style="height: 480px">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">reply {{ comment.user }}：</h5>
                                            </div>
                                            <div class="modal-body" id="modal_body_{{ comment.id }}" style="height: 90%;"></div>
                                        </div>

                                    </div>
                                </div>

                                {% if not comment.is_leaf_node %}
                                    <div class="children">
                                        {{ children }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endwith %}
                    {% endrecursetree %}
                </div>
            </div>
        <div class="col-md-3 pull-right">
            {% block toc %}
                <div class="row" style="padding-left: 15px">
                    <div class="widget">
                        <h3>文章目录</h3>
                        {{ entry.toc|safe }}
                    </div>
                </div>
                <hr>
            {% endblock %}
            {% include 'blog/right_side_bar.html' %}
        </div>
            </div>
        </div>
    </div>
    <form
          style="display:none;"
          id="safe_delete"
          action="{% url 'blog:article_safe_delete' entry.id %}"
          method="POST"
          >
        {% csrf_token %}
        <button type="submit" onclick="{ console.log('删除操作'); }">发送</button>
    </form>
{% endblock %}

{% block script %}
    <script src="{% static 'csrf.js' %}"></script>

    <script>
function confirm_safe_delete() {
    layer.open({
        title: "确认删除",
        content: "确认删除这篇文章吗？",
        yes: function(index, layero) {
            $('form#safe_delete button').click();
            layer.close(index);
        }
    })
}
function load_modal(article_id, comment_id) {
    let modal_body = '#modal_body_' + comment_id;
    let modal_id = '#comment_' + comment_id;

    // 加载编辑器
    if ($(modal_body).children().length === 0) {
        let content = '<iframe src="/comment/post-comment/' +
            article_id +
            '/' +
            comment_id +
            '"' +
            ' frameborder="0" style="width: 100%; height: 100%;" id="iframe_' +
            comment_id +
            '"></iframe>';
        $(modal_body).append(content);
    };

    $(modal_id).modal('show');
}

function post_reply_and_show_it(new_comment_id) {
    let next_url = "{% url 'blog:blog_detail' entry.id %}";
    // 去除 url 尾部 '/' 符号
    next_url = next_url.charAt(next_url.length - 1) == '/' ? next_url.slice(0, -1) : next_url;
    // 刷新并定位到锚点
    window.location.replace(next_url + "#comment_elem_" + new_comment_id);
};

function validate_is_like(url, id, likes) {
    // 取出 LocalStorage 中的数据
    let storage = window.localStorage;
    const storage_str_data = storage.getItem("my_blog_data");
    let storage_json_data = JSON.parse(storage_str_data);
    // 若数据不存在，则创建空字典
    if (!storage_json_data) {
        storage_json_data = {}
    };
    // 检查当前文章是否已点赞。是则 status = true
    const status = check_status(storage_json_data, id);
    if (status) {
        layer.msg('已经点过赞了哟~');
        // 点过赞则立即退出函数
        return;
    } else {
        // 用 Jquery 找到点赞数量，并 +1
        $('span#likes_number').text(likes + 1).css('color', '#dc3545');
    }
    // 用 ajax 向后端发送 post 请求
    $.post(
        url,
        // post 只是为了做 csrf 校验，因此数据为空
        {},
        function(result) {
            if (result === 'success') {
                // 尝试修改点赞数据
                try {
                    storage_json_data[id] = true;
                } catch (e) {
                    window.localStorage.clear();
                };
                // 将字典转换为字符串，以便存储到 LocalStorage
                const d = JSON.stringify(storage_json_data);
                // 尝试存储点赞数据到 LocalStorage
                try {
                    storage.setItem("my_blog_data", d);
                } catch (e) {
                    // code 22 错误表示 LocalStorage 空间满了
                    if (e.code === 22) {
                        window.localStorage.clear();
                        storage.setItem("my_blog_data", d);
                    }
                };
            } else {
                layer.msg("与服务器通信失败..过一会儿再试试呗~");
            }

        }
    );
};

// 辅助点赞主函数，验证点赞状态
function check_status(data, id) {
    // 尝试查询点赞状态
    try {
        if (id in data && data[id]) {
            return true;
        } else {
            return false;
        }
    } catch (e) {
        window.localStorage.clear();
        return false;
    };
};

    $(".django-ckeditor-widget").removeAttr('style');

    </script>
{% endblock %}